\documentclass{memoir}
\usepackage[spanish]{babel}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}

\pagestyle{empty}

\begin{document}
\includegraphics[scale=.5]{ {{ camino }}/logo.pdf}
\begin{vplace}[.5]
\vspace{1cm}
\textbf{ {{- solicitante }}}, miembro del proyecto {{ proyecto }}.

\vspace{1cm}

\textbf{QUIERO HACER CONSTAR QUE:}

\vspace{1cm}

{{ explicativo }} 

\vspace{1cm}

Y para que conste a los efectos oportunos, firmo el presente escrito en Sevilla, a \today.

\vspace{3cm}

\begin{flushright}
    Fdo.: {{ solicitante }} 
\end{flushright}
\end{vplace}
\end{document}